<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
  <display-name>Tosv2</display-name>
  
  <context-param>
    <param-name>authtype</param-name>
    <param-value>test</param-value>
  </context-param>
  
  <context-param>
    <param-name>authsvr</param-name>
    <param-value>staffad02</param-value>
  </context-param>  
  
  <context-param>
    <param-name>authdomain</param-name>
    <param-value>must.edu.mo</param-value>
  </context-param>
    
  <context-param>
    <param-name>mailPort</param-name>
    <param-value>25</param-value>
  </context-param>
  <context-param>
    <param-name>mailHost</param-name>
    <param-value>10.20.100.31</param-value>
  </context-param>
  <context-param>
    <param-name>mailUserid</param-name>
    <param-value>mailadmin</param-value>
  </context-param>
  <context-param>
    <param-name>mailPasswd</param-name>
    <param-value>123456</param-value>
  </context-param>
	
  <listener>
    <listener-class>edu.must.tos.util.TosDbConnectionListener</listener-class>
  </listener>
  
  <resource-ref>
    <res-ref-name>jdbc/tosv2</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>  
	
  <servlet>
    <servlet-name>FacultyListServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.FacultyListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentListServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.StudentListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CourseListServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.CourseListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProgramListServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ProgramListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookSearchServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.BookSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentBookListServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.StudentBookListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderedBookListServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.OrderedBookListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderIngBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.OrderIngBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.SaveBookServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>UploadBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.UploadBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookDetailServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.BookDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmOrderBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ConfirmOrderBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateOrderedBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.UpdateOrderedBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CancelOrderBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.CancelOrderBookServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.AddBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CourseSearchServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.CourseSearchServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>BookRelServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.BookRelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditBookInfoServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.EditBookInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckIsbnServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.CheckIsbnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReceiveBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ReceiveBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentDetailServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.StudentDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadNetPriceServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.UploadNetPriceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadBookTemplServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.UploadBookTemplServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ExportBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SysConfTimeServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.SysConfTimeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadFuturePriceServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.UploadFuturePriceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelOrderListServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.DelOrderListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteOrdersServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.DeleteOrdersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportBookPriceServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ExportBookPriceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadUpdBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.UploadUpdBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatisticByBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.StatisticByBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditBookBackServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.EditBookBackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewReceiptServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ViewReceiptServlet</servlet-class>
  </servlet>
  <servlet> 
    <servlet-name>BarcodeServlet</servlet-name> 
    <servlet-class>edu.must.tos.servlet.BarcodeServlet</servlet-class> 
  </servlet>
  <servlet>
    <servlet-name>StatisticStudentInfoServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.StatisticStudentInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StuOrdBooksReportServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.StuOrdBooksReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TotalOrdBooksReportServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.TotalOrdBooksReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateNotEnQtyServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.UpdateNotEnQtyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatisticStudOrdServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.StatisticStudOrdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatisticDeliverBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.StatisticDeliverBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReceiptBookTimeServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ReceiptBookTimeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckSearchServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.CheckSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatisticStudReceiveTimeRecord</servlet-name>
    <servlet-class>edu.must.tos.servlet.StatisticStudReceiveTimeRecord</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatisticUnSelReceiveTimeRecord</servlet-name>
    <servlet-class>edu.must.tos.servlet.StatisticUnSelReceiveTimeRecord</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatisticReceivePeriod</servlet-name>
    <servlet-class>edu.must.tos.servlet.StatisticReceivePeriod</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatisticReceivePeriodLeavings</servlet-name>
    <servlet-class>edu.must.tos.servlet.StatisticReceivePeriodLeavings</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DifferenceServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.DifferenceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentEnrolServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.StudentEnrolServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SysUserServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.SysUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadNewCourseServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.UploadNewCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportNewStudOrderInfoServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ExportNewStudOrderInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadNewStudOrderServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.UploadNewStudOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateNewStudNoServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.UpdateNewStudNoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookInventoryServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.BookInventoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelUnpaidOrderServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.DelUnpaidOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportBookInventoryServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ExportBookInventoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TransactionServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.TransactionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateStockServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.UpdateStockServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportStocktakeServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ExportStocktakeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.WithdrawServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookSupplierServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.BookSupplierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportBookStockInServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ExportBookStockInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportPaidNewsServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ExportPaidNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginPageInfoServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.LoginPageInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportDataServlet</servlet-name>
    <servlet-class>edu.must.tos.test.ExportDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadTimesDataServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.UploadTimesDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ChangeBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderDetailServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.OrderDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewStudAccountServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.NewStudAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookStockOutServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.BookStockOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportBookStockOutServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ExportBookStockOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShippingFeeServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ShippingFeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PurchasingBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.PurchasingBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RetailBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.RetailBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.StudentBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.QuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExassLectServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.ExassLectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckEnrolCrsServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.CheckEnrolCrsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TosSurveyServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.TosSurveyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentLackBookServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.StudentLackBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmailNoticeServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.EmailNoticeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestEmailServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.TestEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditCurrencyServlet</servlet-name>
    <servlet-class>edu.must.tos.servlet.EditCurrencyServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>FacultyListServlet</servlet-name>
    <url-pattern>/FacultyListServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>StudentListServlet</servlet-name>
    <url-pattern>/StudentListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CourseListServlet</servlet-name>
    <url-pattern>/CourseListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProgramListServlet</servlet-name>
    <url-pattern>/ProgramListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookSearchServlet</servlet-name>
    <url-pattern>/BookSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentBookListServlet</servlet-name>
    <url-pattern>/StudentBookListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderedBookListServlet</servlet-name>
    <url-pattern>/OrderedBookListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderIngBookServlet</servlet-name>
    <url-pattern>/OrderIngBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveBookServlet</servlet-name>
    <url-pattern>/SaveBookServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UploadBookServlet</servlet-name>
    <url-pattern>/UploadBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookDetailServlet</servlet-name>
    <url-pattern>/BookDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmOrderBookServlet</servlet-name>
    <url-pattern>/ConfirmOrderBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateOrderedBookServlet</servlet-name>
    <url-pattern>/UpdateOrderedBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CancelOrderBookServlet</servlet-name>
    <url-pattern>/CancelOrderBookServlet</url-pattern>
  </servlet-mapping>
   
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
   
  <servlet-mapping>
    <servlet-name>CourseSearchServlet</servlet-name>
    <url-pattern>/CourseSearchServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>BookRelServlet</servlet-name>
    <url-pattern>/BookRelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/UpdateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditBookInfoServlet</servlet-name>
    <url-pattern>/EditBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckIsbnServlet</servlet-name>
    <url-pattern>/CheckIsbnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceiveBookServlet</servlet-name>
    <url-pattern>/ReceiveBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentDetailServlet</servlet-name>
    <url-pattern>/StudentDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadNetPriceServlet</servlet-name>
    <url-pattern>/UploadNetPriceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadBookTemplServlet</servlet-name>
    <url-pattern>/UploadBookTemplServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportBookServlet</servlet-name>
    <url-pattern>/ExportBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SysConfTimeServlet</servlet-name>
    <url-pattern>/SysConfTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFuturePriceServlet</servlet-name>
    <url-pattern>/UploadFuturePriceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelOrderListServlet</servlet-name>
    <url-pattern>/DelOrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteOrdersServlet</servlet-name>
    <url-pattern>/DeleteOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportBookPriceServlet</servlet-name>
    <url-pattern>/ExportBookPriceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadUpdBookServlet</servlet-name>
    <url-pattern>/UploadUpdBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticByBookServlet</servlet-name>
    <url-pattern>/StatisticByBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditBookBackServlet</servlet-name>
    <url-pattern>/EditBookBackServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ViewReceiptServlet</servlet-name>
    <url-pattern>/ViewReceiptServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping> 
    <servlet-name>BarcodeServlet</servlet-name> 
    <url-pattern>/barcode</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticStudentInfoServlet</servlet-name>
    <url-pattern>/StatisticStudentInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuOrdBooksReportServlet</servlet-name>
    <url-pattern>/StuOrdBooksReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TotalOrdBooksReportServlet</servlet-name>
    <url-pattern>/TotalOrdBooksReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateNotEnQtyServlet</servlet-name>
    <url-pattern>/UpdateNotEnQtyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticStudOrdServlet</servlet-name>
    <url-pattern>/StatisticStudOrdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticDeliverBookServlet</servlet-name>
    <url-pattern>/StatisticDeliverBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceiptBookTimeServlet</servlet-name>
    <url-pattern>/ReceiptBookTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckSearchServlet</servlet-name>
    <url-pattern>/CheckSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticStudReceiveTimeRecord</servlet-name>
    <url-pattern>/StatisticStudReceiveTimeRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticUnSelReceiveTimeRecord</servlet-name>
    <url-pattern>/StatisticUnSelReceiveTimeRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticReceivePeriod</servlet-name>
    <url-pattern>/StatisticReceivePeriod</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticReceivePeriodLeavings</servlet-name>
    <url-pattern>/StatisticReceivePeriodLeavings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DifferenceServlet</servlet-name>
    <url-pattern>/DifferenceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentEnrolServlet</servlet-name>
    <url-pattern>/StudentEnrolServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SysUserServlet</servlet-name>
    <url-pattern>/SysUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadNewCourseServlet</servlet-name>
    <url-pattern>/UploadNewCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportNewStudOrderInfoServlet</servlet-name>
    <url-pattern>/ExportNewStudOrderInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadNewStudOrderServlet</servlet-name>
    <url-pattern>/UploadNewStudOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateNewStudNoServlet</servlet-name>
    <url-pattern>/UpdateNewStudNoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookInventoryServlet</servlet-name>
    <url-pattern>/BookInventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelUnpaidOrderServlet</servlet-name>
    <url-pattern>/DelUnpaidOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportBookInventoryServlet</servlet-name>
    <url-pattern>/ExportBookInventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransactionServlet</servlet-name>
    <url-pattern>/TransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStockServlet</servlet-name>
    <url-pattern>/UpdateStockServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportStocktakeServlet</servlet-name>
    <url-pattern>/ExportStocktakeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/WithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookSupplierServlet</servlet-name>
    <url-pattern>/BookSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportBookStockInServlet</servlet-name>
    <url-pattern>/ExportBookStockInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportPaidNewsServlet</servlet-name>
    <url-pattern>/ExportPaidNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginPageInfoServlet</servlet-name>
    <url-pattern>/LoginPageInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportDataServlet</servlet-name>
    <url-pattern>/ExportDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadTimesDataServlet</servlet-name>
    <url-pattern>/UploadTimesDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeBookServlet</servlet-name>
    <url-pattern>/ChangeBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDetailServlet</servlet-name>
    <url-pattern>/OrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewStudAccountServlet</servlet-name>
    <url-pattern>/NewStudAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookStockOutServlet</servlet-name>
    <url-pattern>/BookStockOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportBookStockOutServlet</servlet-name>
    <url-pattern>/ExportBookStockOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShippingFeeServlet</servlet-name>
    <url-pattern>/ShippingFeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PurchasingBookServlet</servlet-name>
    <url-pattern>/PurchasingBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RetailBookServlet</servlet-name>
    <url-pattern>/RetailBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentBookServlet</servlet-name>
    <url-pattern>/StudentBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExassLectServlet</servlet-name>
    <url-pattern>/ExassLectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckEnrolCrsServlet</servlet-name>
    <url-pattern>/CheckEnrolCrsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TosSurveyServlet</servlet-name>
    <url-pattern>/TosSurveyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentLackBookServlet</servlet-name>
    <url-pattern>/StudentLackBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailNoticeServlet</servlet-name>
    <url-pattern>/EmailNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestEmailServlet</servlet-name>
    <url-pattern>/TestEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditCurrencyServlet</servlet-name>
    <url-pattern>/EditCurrencyServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>Tosv2Filter</filter-name>
    <filter-class>edu.must.tos.util.Tosv2Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Tosv2Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
