BODY
{
  BACKGROUND-COLOR: White;
  COLOR: black;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
}
H1
{
  COLOR: navy;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: x-large;
  FONT-WEIGHT: bolder;
  TEXT-TRANSFORM: capitalize;
}
H2
{
  COLOR: navy;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: large;
  FONT-WEIGHT: bolder;
  TEXT-TRANSFORM: capitalize;
}
H3
{
  COLOR: navy;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: large;
  FONT-WEIGHT: lighter;
  TEXT-TRANSFORM: capitalize;
}

.title          
{  
  font-family: Arial, Helvetica, sans-serif; 
  color:#FFFFFF; 
  font-size: 18pt; 
  font-weight:bold
}

.link           
{  
  font-family: Arial, Helvetica, sans-serif; 
  color:#000000; 
  font-size: 10pt
}

.link2           
{  
  font-family: Arial, Helvetica; 
  color:#3300FF; 
  text-decoration:underline;
  font-size: 9pt
}

.link3           
{  
  font-family: Arial, Helvetica; 
  color:#000000; 
  text-decoration:underline;
  font-size: 9pt
}

.title2        
{  
  font-family: Arial, Helvetica, sans-serif; 
  color:#000000; 
  font-size: 12pt; 
  font-weight:bold
}

.text         
{  
  font-family: Arial, Helvetica, sans-serif; 
  color:#000000; 
  font-size: 9pt; 
}

a               
{
  color:#0000ff; 
  font-weight:normal; 
  text-decoration:underline
}

a:hover         
{
  color:#0000ff; 
  font-weight:normal
}

a:link          
{
  font-size: 12pt;  
  TEXT-DECORATION: none
}

a:active        
{
  font-size: 12pt;  
  TEXT-DECORATION: none
}

a:visited       
{
  font-size: 12pt;  
  text-decoration: none
}